
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'login';

$header_background_color: #444;

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


@mixin clearfix {
  content:" ";
  display:block;
  clear:both;
}

@media screen and (max-width: 479px) {
  #app {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 60px 60px auto 60px;
  }

  #app header {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      background-color: $header_background_color;
  }

  #app aside {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      background-color: #ff0;
  }

  #app main {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      min-height: 500px;
  }

  #app footer {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
      background-color: #ccc;
  }
}

@media screen and (min-width: 480px) {
  #app {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr 60px;


    header {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      background-color: $header_background_color;

      h1 {
        a {
          color: #eee;
          text-decoration: none;
          font-weight: bold;
        }
        margin-left: 10px;
        float: left;
      }
      nav {
        float: right;
        a {
          color: #eee;
          text-decoration: none;
        }
        ul {
          list-style: none;
          margin: 10px;
          color: #eee;
          padding-left: 0px;
          background-color: lighten($header_background_color, 5%);
  
        }
        .dropdown-menu {
          background-color: lighten($header_background_color, 8%);
        }
        .dropdown-menu:hover {
          background-color: lighten($header_background_color, 12%);
        }
        .dropdown-item {
          background-color: transparent;
        }
      }
      nav:after {
        @include clearfix;
      }
  
    }

  }

  #app aside {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      background-color: #ff0;
  }

  #app main {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      min-height: 400px;
  }

  #app footer {
      grid-column: 1 / 3;
      grid-row: 3 / 4;
      background-color: #ccc;
  }
}
